<div class="jumbotron">
  <h1>Ambercouch Clients</h1>

</div>
<div class="row controls">
  <div class="col-lg-6">
    <form class="form-search">
      <div class="input-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Search">
        <span ng-click="reset()" type="submit" class=" input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>

    </form>
  </div>
  <div class="col-lg-6">
    <button ng-click="query = '';
          reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
  </div>
</div>
<div class="row clients">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th sorted="client_name" >Name</th>
          <th sorted="client_email" >Email</th>
          <th sorted="client_tel" >Tel No.</th>
          <th>Address</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in clients">
          <td>
            {{client['client_name']}}
          </td>
          <td>
            {{client['client_email']}}
          </td>
          <td>
            {{client['client_tel']}}
          </td>
          <td>
            {{client['client_adderss']}}
          </td>
          <td>
            {{client['client_notes']}}
          </td>
        </tr>
      </tbody>

    </table>
    <a ng-show="has_more()" ng-click="show_more()">Show More</a>
  </div>
</div>
