<div class="jumbotron">
  <h1>Ambercouch Clients</h1>

</div>

<div class="row marketing">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Tel No.</th>
        <th>Address</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients.clients">
        <td>
          {{client['client_name']}}
        </td>
        <td>
          {{client['client_email']}}
        </td>
        <td>
          {{client['client_tel']}}
        </td>
        <td>
          {{client['client_adderss']}}
        </td>
        <td>
          {{client['client_notes']}}
        </td>
      </tr>
    </tbody>

  </table>

</div>
