<div class="jumbotron">
  <h1>'Client, 'Client, Client!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ipsum</th>
        <th>Ipsum</th>
        <th>Ipsum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{awesomeThings}}
        </td>
        <td>
          Lorem
        </td>
        <td>
          Lorem
        </td>
      </tr>
    </tbody>

  </table>

</div>
